.card-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;
}


.circle-image {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
    aspect-ratio: 1 / 1; /* Đảm bảo tỷ lệ luôn là hình vuông */
    max-width: 100%; /* Để ảnh không bị co kéo khi thu nhỏ */
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}
