@import 'default/fonts';
@import 'default/variable';
@import 'default/typography';
@import 'common/preloader';
@import 'common/spacing';
@import 'common/general';
@import 'common/slider';
@import 'common/video-modal';
@import 'common/header';
@import 'common/footer';
@import 'common/sidebar';
@import 'shortcode/hero';
@import 'shortcode/banner';
@import 'shortcode/iconbox';
@import 'shortcode/post';
@import 'shortcode/cta';
@import 'shortcode/testimonial';
@import 'shortcode/counter';
@import 'shortcode/casestudie';
@import 'shortcode/team';
@import 'shortcode/imagebox';
@import 'shortcode/pricing';
@import 'shortcode/card';
@import 'shortcode/tabs';
@import 'shortcode/user';
@import 'shortcode/admin';
@import 'shortcode/nurse';
@import 'shortcode/calendar';
@import 'shortcode/schedule';
@import 'shortcode/popup';
@import 'shortcode/profile_page';
/*--------------------------------
 Extra css
 -------------------------------*/
.cs_hero.cs_style_1 .cs_hero_text {
  background-color: inherit;
  padding: inherit;
  border-radius: inherit;
  position: inherit;
}
.cs_tab_links.cs_style_1 li a span {
  font-size: 19px;
}
.cs_card.cs_style_2 .cs_card_text {
  max-width: 530px;
}
.cs_card.cs_style_2 .cs_card_title {
  font-size: 27px;
}
.home_form_area .cs_form_field {
  background-color: #fff;
}
.about-page-area .about-team hr{
  display: none;
}
.custom-datepicker {
  border-radius: 12px;
  padding: 12px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  font-family: "Arial", sans-serif;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border: none;
}

.react-datepicker__header {
  background-color: #007bff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.react-datepicker__day--selected {
  background-color: #007bff !important;
  color: white !important;
  border-radius: 50%;
}

.react-datepicker__day--keyboard-selected {
  background-color: #0056b3 !important;
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: #e9ecef !important;
  border-radius: 50%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  cursor: pointer;
}

.react-datepicker__triangle {
  display: none;
}
.cs-btn-container {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}
.table th, .table td {
  border-right: 2px solid #ddd; 
}

.table {
  border: 1px solid #ddd;
  border-collapse: collapse; 
}




